body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.container {
    background-color: #f0c700;
    border-radius: 10%;
    display: flex;
    justify-content: center;    
    align-items: center; 
    width: 100vw; 
    height: 100vh; 
    max-width: 600px; 
    max-height: 600px; 
    margin: auto;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 1vh;
    width: 90%;
    height: 90%;
}
.empty, .peg {
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
}
.peg {
    background: linear-gradient(to top left, #00c093, #14be0b);
    border-radius: 50%;
    border: 0.2vh solid #000;
    cursor: pointer;
}

.empty {
    background: linear-gradient(to top left, #e6b800, #f0c700);
    border: 0.2vh solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    background: linear-gradient(to top left, #14be0b, #008000);
    border: none;
}

.valid-move {
    background: linear-gradient(to top left, #4d99ff, #0000ff);
    opacity: 0.8;
    border: none;
}